services:
  - type: web
    name: linklock-backend
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: ./start.sh
    autoDeploy: true
    runtime: python3.10

    envVars:
      - key: MONGO_URI
        sync: false
      - key: REDIS_URL
        sync: false
      - key: SECRET_KEY
        sync: false
      - key: MODEL_PATH
        sync: false

  - type: redis
    name: linklock-redis
    plan: free
    region: oregon
